@model Inventario.Models.producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_venta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idproducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
