@model IEnumerable<Inventario.Models.producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_modificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idproducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idproducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idproducto })
        </td>
    </tr>
}

</table>
