@model List<Inventario.Objetos.ObjDevolucion>
@{
    if (Session["codeU"] == null || Session["nameU"] == null)
    {
        Response.Redirect("~/MODINI_Login/vMODINI_Login");
    }
}
<br />
@Html.ActionLink("Regresar", "Index", "MODING", new { area = "" }, new { @class = "btn btn-primary" })
<h1>Ingreso por Compras</h1>
<br />
<div class="row">
    <div class="col-md-12 devolucion-factura">
        @using (Html.BeginForm("insertarCompra", "MODING", FormMethod.Post, new { @class = "frm" }))
        {
            <div class="form-group">
                <label for="descripcion" class="sr-only">Factura</label>
                <input class="form-control" name="descripcion" placeholder="Factura" />
            </div>
            <input type="submit" name="btnIngresarDevolucion" value="Ingresar" class="btn btn-primary" />
        }
    </div>

    <div class="col-md-12 devolucion-ingreso">
        <br />
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha</th>
                    <th>Factura</th>
                    <th>Estado</th>
                    <th>Usuario Ingresa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var devolucion in Model)
                {
                    <tr>
                        <td><a href="/MODING/Compra?compra=@devolucion.idingreso">@devolucion.idingreso.ToString()</a></td>
                        <td>@devolucion.fecha_ingreso</td>
                        <td>@devolucion.descripcion</td>
                        <td>@devolucion.estado</td>
                        <td>@devolucion.usuario_ingresa</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
