@model List<Inventario.Objetos.ObjDevolucion>
@{
}
<br />
@Html.ActionLink("Regresar", "Index", "MODING", new { area = "" }, new { @class = "btn btn-primary" })
<div class="row">
    <br />
    <div class="col-md-12 devolucion-factura">
        <form action="/" method="post" class="form-inline" role="form">
            <div class="form-group">
                <label for="factura" class="sr-only">Factura</label>
                <input type="text" name="factura" class="form-control" placeholder="Factura" />
            </div>
            <input type="button" name="btnIngresarDevolucion" value="Ingresar" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-md-12 devolucion-ingreso">
        <br />
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Factura asociada</th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Usuario Ingresa</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var devolucion in Model)
                 {
                <tr>
                    <td>@devolucion.idingreso</td>
                    <td>@devolucion.factura_asociada</td>
                    <td>@devolucion.fecha_ingreso</td>
                    <td>@devolucion.descripcion</td>
                    <td>@devolucion.estado</td>
                    <td>@devolucion.usuario_ingresa</td>
                </tr>
                 }
            </tbody>
        </table>
    </div>
</div>
