@model List<Inventario.Objetos.ObjMuestra>
@{
    if (Session["codeU"] == null || Session["nameU"] == null)
    {
        Response.Redirect("~/MODINI_Login/vMODINI_Login");
    }
}
<br />
@Html.ActionLink("Regresar", "Index", "MODING", new { area = "" }, new { @class = "btn btn-warning" })
<h1>Ingreso por muestra</h1>
<br />
<div class="row">
    <div class="col-md-12 devolucion-factura">

        @using (Html.BeginForm("insertarMuestra", "MODING", FormMethod.Post, new { @class = "frm" }))
        {
            <div class="form-group">
                <label for="descripcion" class="sr-only">Descripcion</label>
                <textarea class="form-control" name="descripcion" placeholder="Descripcion" required></textarea>
            </div>
            <input type="submit" value="Ingresar" class="btn btn-primary" />
        }
    </div>
    <div class="col-md-12 devolucion-ingreso">
        <br />
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Usuario Ingresa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var muestra in Model)
                {
                    <tr>
                        <td><a href="/MODING/Muestra?muestra=@muestra.idingreso">@muestra.idingreso.ToString()</a></td>
                        <td>@muestra.fecha_ingreso</td>
                        <td>@muestra.descripcion</td>
                        <td>@muestra.estado</td>
                        <td>@muestra.usuario_ingresa</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
