
@{
    ViewBag.Title = "Menu Principal";
    if (Session["codeU"] == null || Session["nameU"] == null)
    {
        Response.Redirect("~/MODINI_Login/vMODINI_Login");
    }
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hola " + Session["nameU"] + "! - (" + Session["codeU"] + ")", "vMODINI_Logeado", "MODINI_Logeado", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "MODINI_Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Menu Principal</h1>
    </div>








    <div id="form-div" style="text-align:center">
        <div class="row">
            <br />
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                        <fieldset>
                            <br />
                            <a href="@Url.Action("index", "MODPRODU")" class="btn btn-lg btn-primary btn-block" id="productos">Productos</a>
                            <br />
                            <a href="@Url.Action("vMODSAL_RestarPorVenta", "MODSAL_RestarPorVenta")" class="btn btn-lg btn-primary btn-block">Venta</a>
                            <br />
                            <a href="@Url.Action("index", "MODING")" class="btn btn-lg btn-primary btn-block">Ingresos</a>
                            <br />
                            <a href="@Url.Action("vMODSAL_RestaxVenta", "MODSAL_RestaxVenta")" class="btn btn-lg btn-primary btn-block">Salidas</a>
                            <br />
                            <a href="@Url.Action("index", "MODUSR")" class="btn btn-lg btn-primary btn-block" id="usuarios">Usuarios</a>
                            <br />
                            <a href="@Url.Action("vMODREP_Reportes", "MODREP_Reportes")" class="btn btn-lg btn-primary btn-block">Reportes del Sistema</a>
                            <br />
                            <a href="/MODSAL_RestaMalEstado.aspx" class="btn btn-lg btn-primary btn-block">Resta Mal Estado</a>
                            <br />
                            <a href="/Controllers/MODUS_Modify.aspx" class="btn btn-lg btn-primary btn-block">Resta Mal Estado</a>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>





















    
</div>
