@model List<Inventario.Objetos.ObjRestaxVenta>
@{
    ViewBag.Title = "Resta Por Venta";
}

<div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h2>Resta por Ventas</h2>
    </div>

    <div id="materiales-div">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Fecha Venta</td>
                    <td>Descripción</td>
                    <td>Precio</td>
                    <td>Cantidad</td>
                    <td>Nombre</td>
                    <td>Disponibles</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var ObjRestaxVenta in Model)
                {
                <tr>
                    <td>@ObjRestaxVenta.fechaVenta</td>
                    <td>@ObjRestaxVenta.descripcion</td>
                    <td>@ObjRestaxVenta.precio</td>
                    <td>@ObjRestaxVenta.cantidad</td>
                    <td>@ObjRestaxVenta.nombre</td>
                    <td>@ObjRestaxVenta.total</td>
                </tr>
                }

            </tbody>
        </table>
        <a href="@Url.Action("MODREP_RepKardex","Actualizar", new { id = "" })" class="btn  btn-primary">Actualizar</a>
    </div>


</div>

