@model List<Inventario.Objetos.ObjRepKardex>
@{
    ViewBag.Title = "Kardex";
}

<div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h2>Reporte Kardex</h2>
    </div>

    <div id="materiales-div">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Fecha Ingreso</td>
                    <td>Cantidad Ingresada</td>
                    <td>Descripcion</td>
                    <td>Fecha Egreso</td>
                    <td>Cantidad Egresada</td>
                    <td>Precio Unitario</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var ObjRepKardex in Model)
                {
                    <tr>
                        <td>@ObjRepKardex.fechaIngreso</td>
                        <td>@ObjRepKardex.cantIngreso</td>
                        <td>@ObjRepKardex.descripcion</td>
                        <td>@ObjRepKardex.fechaEgreso</td>
                        <td>@ObjRepKardex.cantEgreso</td>
                        <td>@ObjRepKardex.precioUnitario</td>
                    </tr>
                }

            </tbody>
        </table>
        <a href="@Url.Action("MODREP_RepKardex","Actualizar", new { id = "" })" class="btn  btn-primary">Actualizar Reporte</a>
    </div>


</div>

